header {
text-align: center;
}


h1 {position: fixed; 
	top:0px;
	width:100%;
	margin: 0px 0px 0px -10px;
	background-color: #efefef;
	font-size: 400%;	
}


img {
	float: left;
	margin-right: 5px;
	width: 25%;
}

footer{
	text-align: center;
}

.Logo{
	margin-top: 80px;
}

/* Prevents content from hiding behind the fixed header, when clocking nav bar*/
h2:before {
    display: block;
    content: "";
    height: 74px;
    margin-top: -74px;
    }


