/*******************
Iteration 2 Styling
********************/

header svg {
	margin-top: 150px;
}

header {
text-align: center;
}

header svg {
	padding-top: 1rem;
	width:100px;
	height: 100px;
}


h1 {position: fixed; 
	top:0px;
	width:100%;
	margin: 0px 0px 0px -10px;
	background-color: #efefef;
	font-size: 400%;	
}

article {
	width: 95%;
	padding: 10px;
	margin:0 0 10px 10px;
}

img {
	float: left;
	margin-right: 5px;
	width: 25%;
}

footer{
	text-align: center;
}



/* Prevents content from hiding behind the fixed header, when clocking nav bar*/
h2:before {
    display: block;
    content: "";
    height: 74px;
    margin-top: -74px;
    }

/**********************
Iteration 3 Styling
**********************/

/*Media query*/

@media screen and (min-width: 600px) and (orientation: landscape) {
  
header svg {
	height: 200px;
	width:200px;
	float: left;
	position: fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
}


header nav {
	font-size: 25px;
	float: left;
	overflow: auto;
	height: 500px;
	position: fixed;
	top:390px;
	text-align: left;
}


header h1 {background-color: transparent;
	font-size: 1000%;
	position: absolute;
	top:0;
	}


img {
display: block;
	content: url(http://placehold.it/200x130);
	margin-right: 20px;
	width: 30%;
	}

img {100%}


.Content {
	float: right;
	width: 65%;
	margin-top: 200px;
}


footer {
	padding: 20px;
	clear:both;
}

article:nth-child(even)>img {float: right;
	margin-left: 20px;

}


}












